<h1>Template 1 {{main.test}}</h1>
<div class="row">	
		<div class="col-md-6">	
			<ui-gmap-google-map center='main.map.center' zoom='main.map.zoom'>
				<ui-gmap-markers models="main.markers.models" coords="main.markers.coordsKey" idkey="main.markers.idKey" options="		main.markers.optionsKey" events="main.markers.events">
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
		<div ng-show="main.isDetailsShowing" class="col-md-6">	
				<div class="panel panel-primary">
                    <div class="panel-heading">{{main.detail.category}}</div>
                    <div class="panel-body">
                    	<p><strong>Address: </strong>{{main.detail.address}}</p>
                       	<p><strong>Details: </strong>{{main.detail.story}}</p>
                    	<img height="300px" width="400px" ng-src="/app/pics/{{main.detail.pic}}">
                    </div>
                    
                </div>
            </div>
		</div>
</div>